.featured-item {
  background-image: url("../../../assets/home/featured.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(20, 20, 20, 0.7);
}
